
#fondBoutique{
    background: #ff3a35;
    min-height: 400px;
    width: 100%;
}

#titreFondBoutique{
    color: white;
    font-family: helvetica;
    text-align: center;
    padding-top: 100px;
    opacity: 0.9;
}



#meilleuresVentes{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 3vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(173, 188, 200, 0.06);
}

.imgMeilleuresVentes{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}
#myCarousel{
     width: 100%;
     height: auto;
 }
.item {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.produitDBE{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

.produits{
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    background: white;
    border: 1px solid #ccc;
    /*opacity:0.6;*/
}

.produits:hover{
    border: 1px solid #777;
}

.produits img{
    display: block;
    width: 50%;
    height: 60%;
    margin: auto;
}

#meilleursArticlesBDE{
    margin-top: 50px;
    font-size: 3vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(173, 188, 200, 0.06);
}

#boutonBoutique a{
    text-decoration: none;
    display: block;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 180px;
    margin-left: 10px;
}

#boutonBoutique, #boutique {
    display: flex;
}


 .validerCommande, .ajoutProduit{
    text-decoration: none;
    display: block;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 180px;
    margin-left: 10px;
}

.boutonBoutique{
    text-decoration: none;
    display: block;
    background-color: red;
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 180px;
    height: 48px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.boutonBoutique .fa{
    margin-left: -20px;
    margin-top: -2px;
}

.retourFa{
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: red;
    margin-left: 10px;
    width: 50px;
    height: 48px;
}

.retourFa .fa{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: -19px;
    margin-top: -14px;
    display: block;
    font-size: 30px;

}

.blog-post a{
    color: #707273; ;
    text-decoration: none;
    cursor: pointer;
}

.blog-post a:hover{
    color: #8B0000;
}
