
#fondBoutique{
    background: #ff3a35;
    min-height: 400px;
    width: 100%;
}

#titreFondBoutique{
    color: white;
    font-family: helvetica;
    text-align: center;
    padding-top: 100px;
    opacity: 0.9;
}

#meilleuresVentes{
    margin-top: 10px;
    padding-top: 10px;
    font-size: 3vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background: #005cbf;
}

.imgMeilleuresVentes{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

.produits{
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    background: white;
    /*opacity:0.6;*/
}

.produits img{
    display: block;
    width: 60%;
    height: 60%;
    opacity: 1;
}

#meilleursArticlesBDE{
    margin-top: 50px;
    font-size: 3vw;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    background: #dc3545;
}
