*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff3a35;
    min-height: 400px;
    /*height: 100vh;*/
}

h1{
    color: black;
    font-family: helvetica;
    text-align: center;
    padding-top: 100px;
    opacity: 0.9;
}

.event-post{
    border: 1px solid #ccc;
    border-radius: 16px;
}
.event-post p {
    padding: 0.01em 16px;
}
.event-post-title, .event-post-title a{
    text-align: center;
    color: #ff3645;
}

.event-post-title a:hover{
    text-decoration: none;
    color: #dd2458;
}

.idee-post p{
    padding: 0.01em 16px;
}
.idee-post-title, .idee-post-title a{
    text-align: center;
    color: #707273;
}
.idee-post-title a:hover{
    text-decoration: none;
    color: #365988;
}

.future{
    margin: 20px 0 10px 20px;
    width: 66%;
}
.passer{
    margin: 20px 0 10px 20px;
    width: 66%;
}

.boite_idee{
    float: right;
    border: solid;
    border-radius: 12px;
    width: 30%;
    margin-left: 10px;
}
nav ul a{
    margin-top: 5px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}

@media screen and (max-width: 767px) {
    nav ul a{
        margin-top: 0px;
    }
}
