
#ajout_idee h3{
    text-align: center;
}

#encre_idee a {
    text-decoration: none;
    display: block;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    z-index: 1;
}

#encre_idee a:hover {
    opacity: 0.8;
}

#ajout_idee{
    background-color: grey;
    padding: 10px;
}
input[type=text], textarea {
    width: 100%;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}