*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 388px;
    margin-top: -20px;
}
header img{
    height: 388px;
    width: 100%;
}

h1{
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    color: white!important;
    text-align: center;
    font-family: helvetica;
    text-align: center;
    opacity: 0.9;
}
nav {
    margin-top: -13px;
}
nav ul a{
    margin-top: 5px;
}
li .form-inline{
    padding-top: 3px;
}

.texte_acceuil{
    margin-bottom: 50px;
    margin-top: 10px;
}
.texte_acceuil h2 {
    text-align: center;
    margin-bottom: 40px;
}
.texte_acceuil p {
    font-size: 15px;
   margin-left: 30px;
    margin-right: 30px;
}


.future{
    margin: 20px 0 10px 20px;
    width: 66%;
}
.passer{
    margin: 20px 0 10px 20px;
    width: 66%;
}

.event-post{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #FEFEFE;
}
.event-post p {
    padding: 0.01em 16px;
}
.event-post-title, .event-post-title a{
    text-align: center;
    color: #ff3645;
}

.event-post-title a:hover{
    text-decoration: none;
    color: #dd2458;
}

.idee-post p{
    padding: 0.01em 16px;
}
.idee-post-title, .idee-post-title a{
    text-align: center;
    color: #707273;
}
.idee-post-title a:hover{
    text-decoration: none;
    color: #365988;
}

.boite_idee{
    float: right;
    border: solid;
    border-radius: 12px;
    width: 30%;
    margin-left: 10px;
    background-color: #FEFEFE;
}


@media screen and (max-width: 992px) {
    .boite_idee{
        display: none;
    }

}
@media screen and (max-width: 768px) {
    nav ul a{
        margin-top: 0px;
    }
}

.eventImg{
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;

}
