*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff3a35;
    min-height: 400px;
    /*height: 100vh;*/
}

h1{
    color: black;
    font-family: helvetica;
    text-align: center;
    padding-top: 100px;
    opacity: 0.9;
}
/*
a enlerver apres
 */
#evenement{
    height: 500px;
}

.future{
    margin: 20px 0 10px 20px;
    height: 40px;
    width: 66%;
}
.passer{
    margin: 20px 0 10px 20px;
    height: 40px;
    width: 66%;
}

.boite_idee{
    float: right;
    border: solid;
    border-radius: 12px;
    height: 100px;
    width: 30%;
    margin-left: 10px;
}
nav ul a{
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    nav ul a{
        margin-top: 0px;
    }
}
